/*  #Style Swipe To Dismiss - Full width image
===========================================*/
swipe-to-dismiss-layout-3 {
  [background-size] {
    position: relative;
    height: 215px;
    @include darkening-blend-mode;
    border-radius: $border-radius;
    // Settings Ttitle and Subtitle
    [title-block] {
      position: absolute;
      left: 10px;
      bottom: 8px;

      [header-title],
      [item-subtitle] {
        color: theme-colors('textColors', 'secondaryBase') !important;
      }

      [item-subtitle] {
        margin-left: 2px;
      }
    }
  }
  // Settings Button Swipe
  ion-item-options {
    border-bottom: 1px solid transparent !important;

    button {
      color: #FF2D55 !important;
      letter-spacing: 1px;
      padding: 16px 16px 16px 32px !important;
      font-size: font-size-text('h4') !important;
    }
  }
}
